body {
  font-family: "Finlandica", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.top-header {
  display: flex;
  background-color: black;
  margin: 20px 90px;
  padding-left: 60px;
  border-radius: 20px;
  position: relative;
}

.title {
  color: white;
  font-size: 80px;
}

p {
  color: white;
  padding-bottom: 70px;
}

.top-banner img {
  margin: 30px;
  padding-left: 100%;
  height: 95%;
}

.watch-live {
  border-radius: 7px;
  text-decoration: none;
  background-color: red;
  padding: 7px 13px;
  font-size: 25px;
}

#anchor {
  text-decoration: none;
}

.top-left-section {
  padding-bottom: 50px;
}

/* .vertical-flex {
  border: 1px solid black;
  background-color: black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 90px;
} */

/* .button {
  border: 1px solid;
  border-radius: 7px;
  text-decoration: none;
  height: 40px;
  width: 10%;
  align-items: center;
  text-align: center;
  padding-top: 15px;
} */

.nav {
  display: flex;
  width: 20%;
  border: 1px solid red;
  height: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 10px;
  margin-top: 8%;
  margin-right: 5px;
  padding-top: 60px;
  margin-left: 90px;
}

.buttons {
}

.reference {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: black;
  border-color: brown;
  padding: 20px;
  border-width: 50px;
  border-radius: 5px;
  background-color: white;
}

.thumbnail {
  width: 100%;
  border-radius: 10px;
}

.thumbnail-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.sum-box {
  margin-left: 5%;
}

div.icon-shortcut p {
  padding-left: 6%;
}

.icon-shortcut {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 5px;
  /* padding-bottom: 40%; */
  max-width: 40%;
}

.icon-time {
  width: 42%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: left;
}

.icon-comment {
  width: 42%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: left;
  margin-left: -85%;
}

.article-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 2%;
  row-gap: 2%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin-top: 30px;
}

.blog {
  width: 100%;
  border-radius: 10px;
}
